/* 
    Created on : Dec 02, 2013, 15:25:59
    Author     : Matus Macak | justM
    Content    : Specifies style for elements related with forms
*/

/* Buttons */
input[type=text],input[type=password],textarea{
    outline: none;
    padding: 3px;
    font-size: 15px;
    border: 1px solid #b2bed1;
    border-radius: 2px;
    font:inherit;
    margin: 3px 0 !important;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
    border: 1px solid #b81c18;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
}
textarea{
    resize:none
}
input[type=submit]:not(.img-submit), 
button, .styled-button{
    display: block;
    height: 37px;
    min-width: 90px;
    max-width: 150px;
    padding: 8px 15px;
    font-size: 18px;
    text-align: center;
    position: relative;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    
    outline: none;
    background: #e53c38;
    border: 1px solid #b81c18;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.8);
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.8);
    margin-bottom: 3px;
    
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.styled-button{
    height: 20px;
    padding: 10px 15px;
}
input[type=submit]:hover:not(.img-submit), 
button:hover, .styled-button:hover{
    background: #b81c18;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.8);
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.5), inset 0 1px 1px rgba(255,255,255,.8);
    text-decoration: none !important;
    
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
input[type=submit]:active:not(.img-submit), 
button:active, .styled-button:active, .styled-button.selected{
    background: #525262;
    border: 1px solid #525262;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.9);
    
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.small-button{
    height: 26px;
    min-width: 50px;
    max-width: 130px;
    padding: 7px 5px;
    font-size: 12px;
}
.styled-button.small-button{
    height: 12px;
    padding: 7px 5px;
}
.styled-button.nFloated,
input[type=submit].nFloated{
    float: none;
    margin: 10px auto 0 auto;
}

/* Riadky formuláru */
form div.row { 
    clear: both;
    margin: 15px 0 10px 0
}
form div.cellL { 
    float: left;
    margin: 15px 10px 10px 0
}
form div.cellR { 
    float: right;
    margin: 15px 0 10px 10px
}
form label{
    display: block;
    font-weight: bold;
    font-size: 95%;
}
form div.largeFE {
    font-size: 110%;
    margin: 20px 0 15px 0
}
form div.largeFE{
    font-size: 110%;
}
form div.largeFE input,
form div.largeFE textarea,
form div.largeFE select{
    font-size: 20px;
}
form .requiredField:after{
    content: ' *';
    color: #b81c18;
    font-weight: bold
}

/* CAPTCHA Module*/
.captcha-row {
    clear: both;
    margin: 15px 0 10px 0
}
.captcha-input{
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px; 
}
.captcha-input input{
    font-size: 20px !important;
    width: 150px;
    text-align: center; 
}
.captcha-row .captcha-img{
    border: 1px solid #b2bed1;
    box-shadow: 0 2px 5px -3px rgba(0,0,0,.3);
}

/* Flashes */
.confirm-flash{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #438943;
    color: #438943;
    background: rgba(101,180,101,.2);
}
.error-flash{
    margin: 10px 0; 
    padding: 10px;
    border: 2px solid #e53c38;
    color: #e53c38;
    background: rgba(229, 60, 56, .2);
}
.error-flash ul{
    margin: 0;
}
.notice-flash {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #d2d9e4;
    color: #d2d9e4;
    background: rgba(242, 244, 247, .2);
}
